<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Live Wallpaper" Language="1033" Version="$(var.ProductVersion)"
           Manufacturer="Openlearnia" UpgradeCode="C9F4E2A1-8B3D-4F6E-9A0C-1D2E3F4A5B6C">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perUser" />
    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Live Wallpaper is already installed." />
    <Icon Id="AppIcon" SourceFile="..\assets\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Feature Id="ProductFeature" Title="Live Wallpaper" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="LiveWallpaper" />
        <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationProgramsFolder" Name="Live Wallpaper" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER" Source="$(var.PublishDir)">
      <!-- Populated by heat in scripts/build-installer.ps1 -->
    </ComponentGroup>
    <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="*">
      <Shortcut Id="StartMenuShortcut" Name="Live Wallpaper"
                Target="[INSTALLFOLDER]LiveWallpaper.exe" WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\LiveWallpaper" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
